
.dushubiji {
    line-height:30px;
    padding:10px 10px 10px 20px;
}
    .dushubiji h4 {
        font-weight:600;
        color:#333333;
    }
    .dushubiji .smalltitle span{
        padding-right:20px;
        color:#808080;

    }
.chuangshirenshuo {
    padding-left:20px;
    line-height:30px;
}

.dushuying {
    margin-top:20px;
}

.uc-info {
    height:50px;
    line-height:30px
}
.uc-jieshao {
    text-align:left;
    line-height:30px;
}
.uc-menu {
    margin-top:30px;
    line-height:50px;
}
.dushuying-btn {
    margin-top:25px;
}
.reg_footer {
    margin-top:40px;
}