
.dushubiji {
    line-height:30px;
    padding:10px 10px 10px 20px;
}
    .dushubiji h4 {
        font-weight:600;
        color:#333333;
    }
    .dushubiji .smalltitle span{
        padding-right:20px;
        color:#808080;

    }
.chuangshirenshuo {
    padding-left:20px;
    line-height:30px;
}

.dushuying {
    margin-top:20px;
}

.uc-info {
    height:50px;
    line-height:30px
}
.uc-jieshao {
    text-align:left;
    line-height:30px;
}
.uc-menu {
    margin-top:30px;
   list-style-type:none;
}
    .uc-menu li {
         line-height:60px;
         height:60px;
    }
.dushuying-btn {
    margin-top:25px;
}
.no-info {
    margin-top:30px;
    padding-top:50px;
    font-size:24px;
    color:#808080;
    line-height:60px;
}
.webTitle {
    margin:30px 0px;
    font-weight:600;
}
.reg_footer {
    margin-top:40px;
}