

<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">
            
            <h3>创始人说</h3>
            <div class="row">
                <div class="chuangshirenshuo">
                    大家问哈ad发送到发送到发送到发送到发送到发送到发送到发的阿萨德法师打发斯蒂芬爱的色放阿斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬爱的色放阿道夫爱的色放阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬爱的色放阿斯蒂芬阿萨德发阿萨德阿发
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>邀请你加入</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


