

<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">            
            <form>
                <div class="form-group">
                    <h3>陪伴式成长读书营第8期</h3> 
                    <span class="daka">书目：非暴力沟通</span><span class="daka">陪读人：赵老师</span> <span class="daka">打卡：第56次 共56次</span>
                </div>
                <div class="form-group">                  
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="输入打卡文章标题">
                </div>
                <div class="form-group">
                   
                    <textarea class="form-control" rows="20" placeholder="输入打卡内容"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 私密（仅限陪读人和自己可见）
                    </label>
                </div>
                
                <button type="submit" class="btn btn-primary pull-right">保存提交</button>
            </form>
        </div>
        <div class="col-md-4">
          
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/Resource/img/zz.jpg" alt="..." class="img-thumbnail img-circle" style="width:50%">
                    <h3>赵征</h3>
                    <span style="height:50px;line-height:30px">会写代码的心理咨询师</span>
                    <table class="table">
                        <tr>
                            <td><h4>79</h4><span>打卡文章</span></td>
                            <td style="border-right: 2px solid #eeeeee; border-left: 2px solid #eeeeee"><h4>79</h4><span>粉丝</span></td>
                            <td><h4>79</h4><span>关注</span></td>
                        </tr>
                    </table>
                    <div class="uc-jieshao">
                        会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


