

<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">            
            <h3>读书笔记</h3>
            <div class="row">
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


