@model StaticPagedList<dushuhuiEntity.Biji>
@using PagedList;
@using PagedList.Mvc;
@using DushuhuiService;
@using Common;
<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">            
            <h3>读书笔记</h3>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="dushubiji" onclick="ToUrl(@item.Id)">
                        <h4>@item.BijiTitle</h4>
                        <div class="smalltitle">
                            <span>来自：@YingService.GetYingById(item.BijiYId).YingTitle</span> <span>陪读人：@RenService.GetRenById(item.BijiRId).RenNickName</span>
                            <br /><span>作者：@RenService.GetRenById(item.BijiZuozhe).RenNickName</span><span>打卡时间：@item.BijiTime</span>
                        </div>
                        <div class="contentinfo">
                            @CommonTools.ReplaceHtmlTag(item.BijiContent, 100)
                        </div>
                    </div>
                }
                <div class="box-footer text-center">
                    <ul class="pagination pagination-sm no-margin">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Biji", "Ucenter", new { rid = Request.QueryString["rid"], page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                    </ul>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


@section BottomScripts {
    <script type="text/javascript">
        $('.dushubiji').on("mouseover", function () {
            $(this).addClass("dushuhuibg");
            // alert("asdf");
        }).on("mouseout", function () {
            $(this).removeClass("dushuhuibg");

        });
        function ToUrl(id) {
            var tourl = "/Home/BijiContent?bid=" + id
            window.location.href = tourl;
        }
    </script>
}
