@using dushuhuiEntity;
@using DushuhuiService;
@model dushuhuiEntity.Notice



<div class="container" style="margin-top:80px">
    <div class="row">

        <div class="col-md-8">

            <h3 class="webTitle">@Model.Title</h3>
            <div class="bijismalltitle">
               <span>作者：@Model.Author </span><span>打卡时间：@Model.CreateTime.ToString("yyyy年MM月dd日 HH:mm:ss")</span>
            </div>

            <div class="box-body" style="word-break: break-all;line-height:30px;">
                @Html.Raw(Model.Content)
            </div>

            <div class="box-footer">
                标签：@Model.Tags
            </div>

        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>







