@model StaticPagedList<dushuhuiEntity.Ren>
@using PagedList;
@using PagedList.Mvc;

<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">

            <h3>陪读人</h3>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-3 text-center">
                        <a href="@Url.Action("Ren", "Home", new { rid=item.Id})">
                            <img src="@item.RenAvatar" alt="..." class="img-circle img-thumbnail" style="width:100%">
                        </a>
                        <a href="#"><h4>@item.RenNickName</h4></a>
                    </div>

                }


            </div>
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>
