@model dushuhuiEntity.Ren
@using Common;


<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">
            <h3>陪读人</h3>
            <div class="row">
                <div class="col-md-4 text-center"><a href="#"><img src="@Model.RenAvatar" alt="..." class="img-thumbnail" style="width:100%"></a></div>
                <div class="col-md-4" style="line-height:25px;">
                    <h3>@Model.RenNickName <small>@Model.RenSex</small></h3>
                    @CommonTools.ReplaceHtmlTag(Model.RenYijuhua, 60)<br>
                    个人介绍:@CommonTools.ReplaceHtmlTag(Model.RenInfo, 60)
                    <button class="btn btn-danger" style="margin-top:10px;">报名加入TA的读书营</button>
                </div>
                <div class="col-md-4" style="line-height:30px;border-left:1px solid #cccccc">
                    <h4>陪读更新</h4>
                    读者: 36人<br />
                    陪读人:<a href="#"> 3人</a><br />
                    读书笔记: <a href="#">265篇</a><br />

                </div>
            </div>
         
            @*<h3>陪读书单</h3>
            <div class="row">
               
        
                    
                    <div class="col-md-3 text-center"><a href="#"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"></a><a href="#"><h4>瞬变</h4></a></div>
                    <div class="col-md-3 text-center"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"><h4>故事的疗愈力量</h4></div>
                    <div class="col-md-3 text-center"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"><h4>非暴力沟通</h4></div>
                    <div class="col-md-3 text-center"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"><h4>空间简史</h4></div>

            </div>*@
            <h3>学员成长</h3>
            <div class="row">
                <div class="col-md-12">
                   
                    <div class="content" style="line-height:30px;padding:20px;">
                        <h4>如果爱，请深爱1</h4>
                        <div>
                            <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                    <div class="content" style="line-height:30px;padding:20px;">
                        <h4>如果爱，请深爱2</h4>
                        <div>
                            <span>作者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                    <div class="content" style="line-height:30px;padding:20px;">
                        <h4>如果爱，请深爱3</h4>
                        <div>
                            <span>作者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                    <div class="content" style="line-height:30px;padding:20px;">
                        <h4>如果爱，请深爱4</h4>
                        <div>
                            <span>作者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                        </div>
                        <div class="">
                            这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


