


<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">
            <h3>非暴力沟通</h3>
            <div class="row">
                <div class="col-md-4 text-center"><a href="#"><img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%"></a></div>
                <div class="col-md-4" style="line-height:25px;">
                    <h4>非暴力沟通</h4>     
                    作者: [美]玛利亚·森普尔 <br />           
                    译者: 何雨珈<br />
                    出版社: 中国友谊出版公司<br />
                    ISBN: 9787505744646<br />
                    局长推荐：给暴力格欧通四沙发阿斯顿发送到发你按时打发斯蒂芬教案上帝发送到发送到发is打发斯蒂芬哈师大发送机打发斯蒂芬杰哈发
                    
                </div>
                <div class="col-md-4" style="line-height:30px;border-left:1px solid #cccccc">
                    <h4>陪读更新</h4>
                    读者: 36人<br />
                    陪读人:<a href="#"> 3人</a><br />
                    读书笔记: <a href="#">265篇</a><br />

                </div>
            </div>
            <div class="row">
                <div class="col-md-2  col-md-offset-8 ">
                    <button class="btn btn-default pull-right">往期读书营</button>
                </div>
                <div class="col-md-2 ">
                    <button class="btn btn-danger pull-right">报名加入读书营</button>
                </div>
            </div>
            <h3>内容简介</h3>
            <div class="row">
                <div class="col-md-12">                  
                    <div class="content" style="line-height:30px;">
                        我是比伊，今年15岁。

                        我们家在西雅图，几乎具备模范菁英家庭应该有的所有条件：

                        爸爸是科技天才，他在TED的演讲播放量排名第四；

                        我被认为是天才儿童，成绩全A，还没毕业就有名校来抢我；

                        妈妈伯纳黛特据说有辉煌的过去，但我现在只能列举出她的12种怪异行为。

                        她坚持我们要住在一栋破乱不堪、漏水、长满杂草的老房子里，

                        她足不出户，将家事外包给远在印度的虚拟助理，还跟邻居杠上了……

                        再过两天，我们全家就要去南极旅行，

                        出发前夕发生了一连串怪事，让伯纳黛特成为了小区里的危险人物。

                        但最怪的一件事是，她居然在家里的厕所消失了……

                        不久，我收到惊人的真相包裹。

                        虽然我一直以为伯纳黛特是我最好的朋友，

                        但原来我从没真正了解过她。

                        ◆畅销46个国家和地区，全球销量超过700万册的魅力四射之作。

                        ◆出版后蝉联《纽约时报》畅销榜、美国国家公共电台畅销榜长达88周！

                        ◆Goodreads书评网超过30万读者打出满分好评。


                    </div>
                </div>
            </div>
            <h3>找个陪读人陪你读</h3>
            <div class="row">
                <div class="col-md-3 text-center"><a href="#"><img src="/Resource/img/zz.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"></a><a href="#"><h4>赵征</h4></a></div>
                <div class="col-md-3 text-center"><img src="/Resource/img/hesu.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"><h4>贺苏</h4></div>
                <div class="col-md-3 text-center"><img src="/Resource/img/zz.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"><h4>赵征</h4></div>
                <div class="col-md-3 text-center"><img src="/Resource/img/hesu.jpg" alt="..." class="img-circle img-thumbnail" style="width:100%"><h4>贺苏</h4></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>创始人说</h3>
            <div class="row">
                <div class="col-md-12">
                    <img src="/Resource/img/shu.png" alt="..." class="img-thumbnail" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>


