

<div class="container" style="margin-top:80px">

    <div class="row">
        <div class="col-md-8">            
            <h3 style="border-bottom:1px solid #dddddd;line-height:60px">读书笔记<span class="pull-right"><a class="btn btn-primary" href="@Url.Action("Daka","Home")">打卡写读书笔记</a></span></h3>
            <div class="row">
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
                <div class="dushubiji">
                    <h4>如果爱，请深爱1</h4>
                    <div class="smalltitle">
                        <span>陪读人：赵征</span><span>读者：赵征</span><span>打卡时间：2018-02-03 23：56</span>
                    </div>
                    <div class="contentinfo">
                        这是是这边呢书的江爱的阿斯顿发送到发手动阀手动阀是的阿斯顿发送到发手动阀手动阀阿萨德法师打发斯蒂芬 阿斯蒂芬阿道夫发
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="/Resource/img/zz.jpg" alt="..." class="img-thumbnail img-circle" style="width:50%">
                    <h3>赵征</h3>
                    <span style="height:50px;line-height:30px">会写代码的心理咨询师</span>
                    <table class="table">
                        <tr>
                            <td><h4>79</h4><span>打卡</span></td>
                            <td style="border-right: 2px solid #eeeeee; border-left: 2px solid #eeeeee"><h4>79</h4><span>粉丝</span></td>
                            <td><h4>79</h4><span>关注</span></td>
                        </tr>
                    </table>
                    <div class="uc-jieshao">
                        会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师会写代码的心理咨询师
                    </div>
                    <div class="uc-menu">
                        <a class="btn btn-block btn-lg btn-info" href="@Url.Action("UCDushuying","Home")">我参加的读书营</a>
                        <button class="btn btn-block btn-lg btn-warning">我的读书成长故事</button>
                        <button class="btn btn-block btn-lg btn-danger">我的读书打卡笔记</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


